<template>
  <div class="sign-up">    
    <sign-up-form></sign-up-form>
  </div>
</template>

<script>
import SignUpForm from './Form'

export default {
  name: 'sign-up',
  components:{
    SignUpForm
  },
  data () {
    return {

    }
  },
  methods: {
    
  }
}
</script>
