.sign-up {
  position: relative;
  right: 50%;
  float: right;

  .sign-up-form {
    position: relative;
    z-index: 1;
    right: -50%;
    margin-top: 70px;

    .ui.form {  
      width: 500px;
      height: 750px;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 2px;
      padding: 20px 50px 50px 50px;

      .sign-up-form-header {
        margin: auto;
        text-align: center;

        .sign-up-form-logo-epic {
          width: 50px;
          height: 50px;
        }

        .header {
          text-align: center;
          margin: 10px 20px 30px 20px;
        }
      }

      .ui.checkbox input {
        height: 17px;
        margin-top: 0px;
      }

      .sign-up-form-switch-page {
        text-align: center;
        margin-top: 20px;
      }

      a {
        color: #0aaff1;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}