.sign-in {
  position: relative;
  right: 50%;
  float: right;

  .sign-in-form {
    position: relative;
    z-index: 1;
    right: -50%;
    margin-top: 100px;

    .ui.form {  
      width: 500px;
      height: 500px;
      border: 1px solid rgba(34, 36, 38, 0.15);
      padding: 30px 50px 50px 50px;

      .sign-in-form-header {
        margin: auto;
        text-align: center;

        .sign-in-form-logo {
          width: 50px;
          height: 50px;
        }

        .header {
          text-align: center;
          margin: 20px 20px 30px 20px;
        }        
      }

      .field .header {
        text-align: right;
        margin-top: 2px;
      }

      .dl-sign-in-form-switch-page {
        text-align: center;
        margin-top: 20px;
      }

      a {
        color: #0aaff1;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}