<template>
  <div class="dl-page-no-found">
    <p>PageNoFound</p>
  </div>
</template>

<script>

export default {
  name: 'dl-page-no-found',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
