<template>
  <div class="events">
    <h4 class="ui header">Home Page</h4>
    <p>A site can specify styles for page content.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel tincidunt eros, nec venenatis ipsum. Nulla hendrerit urna ex, id sagittis mi scelerisque vitae.</p> 
    <div class="ui blue button" @click="SignIn()">Регистрация</div>
  </div>
</template>

<script>
export default {
  name: 'events', 
  data () {
    return {

    }
  },
  methods: {
    SignIn () {
      this.$router.push({ name: 'SignIn' })
    }
  }
}
</script>
