<template>
  <div id="app"> 
    <div v-if="bAuth" class="auth-container">
      <router-view name="auth"></router-view>      
    </div>
    <div v-if="!bAuth" class="content-container"> 
      <div class="center-container"> 
        <div class="content"> 
          <router-view/>       
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      bAuth: false
    }
  },
  created () {
    this.bAuth = this.$route.path === '/signin' ? true : false
  },
  watch: {
    '$route' (to, from) {
      this.bAuth = (to.path === '/signin' || to.path === '/signup') ? true : false
    }
  }
}
</script>

<style lang="scss">
@import './assets/scss/index.scss'
</style>
