<template>
  <div class="sign-in-form">
    <form class="ui form">
      <div class="sign-in-form-header">
        <img class="sign-in-form-logo" src="../../../assets/img/logo.png">
        <h2 class="ui header">{{ content.Auth.SignIn.text_1 }}</h2>
        <button class="ui purple icon button">
          <i class="vk white icon"></i>
        </button>
        <button class="ui black icon button">
          <i class="github white icon"></i>
        </button>
        <button class="ui violet icon button">
          <i class="gitlab orange icon"></i>
        </button>
      </div>    
      <h4 class="ui header">{{ content.Auth.SignIn.text_2 }}</h4>
      <div class="field">
        <input type="text" name="email" placeholder="*EMAIL" maxlength="50">
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="*PASSWORD" maxlength="50">
      </div>
      <div class="equal width fields">
        <div class="field">
          <div class="ui checked checkbox">
            <input type="checkbox" checked="">
            <label>{{ content.Auth.SignIn.text_3 }}</label>         
          </div>
        </div>
        <div class="field">
          <h5 class="ui header">
            <router-link tag="a" :to="'/signup'"><span>{{ content.Auth.SignIn.text_4 }}</span></router-link>
          </h5>
        </div>
      </div>
      <div class="ui primary button" type="submit">{{ content.Auth.SignIn.text_2 }}</div> 
      <div class="sign-in-form-switch-page">
        <h5 class="ui header">
          <span>
            {{ content.Auth.SignIn.text_5 }}
          </span>
          <router-link tag="a" :to="'/signup'"><span>{{ content.Auth.SignIn.text_6 }}</span></router-link>
        </h5>
      </div>
    </form>
  </div>
</template>

<script>
import content from '../../../../config/content.js'

export default {
  name: 'sign-in-form',
  data () {
    return {
      content: content
    }
  },
  mounted () {
    $('.ui.dropdown').dropdown();
  },
  methods: {
    
  }
}
</script>

<style lang="scss">

</style>
