<template>
  <div class="sign-in">    
    <sign-in-form></sign-in-form>
  </div>
</template>

<script>
import SignInForm from './Form'

export default {
  name: 'sign-in',
  components:{
    SignInForm
  },
  data () {
    return {

    }
  },
  methods: {
    
  }
}
</script>

